.contact {
    background: var(--color_dark);
    color: var(--color_light);
    padding: var(--padding-XL) var(--padding-medium);
}
.contact h3 {
    color: var(--color_pseudo);
    font-size: var(--font_L);
    text-transform: uppercase;
    letter-spacing: var(--letter_spacing-light);
}
.main-contact {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}
.contact ul {
    margin: 0;
    padding: 0;
}
.contact ul li {
    list-style: none;
    line-height: 30px;
    color: var(--color_light_transparent);
}
.contact .fas, .contact .far {
    color: var(--color_light_transparent);
    margin-right: 5px;
    width: 20px;
    text-align: center;
}
form label {
    color: var(--color_light_transparent);
}
form input {
    height: 50px;
}
form input:focus, form textarea:focus {
    border: 1px solid var(--color_light_transparent);
}
form input, form textarea {
    width: 100%;
    padding: var(--padding);
    padding-left: var(--padding-light);
    margin-top: 5px;
    background: var(--color_dark_light);
    border: none;
    font-style: italic;
    color: var(--color_light_transparent);
}
.contact-me .form-group .item-group:first-child {
    margin-right: var(--padding);
}
.contact-me .item-group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}
.contact-me .form-group {
    display: flex;
    justify-content: space-between;
}
.contact-me {
    width: 100%;
    max-width: 700px;
}
.btn-submit {
    text-align: right;
    margin-top: var(--padding-light);
}
.btn-submit button {
    padding: .65em 2.75em;
    background: var(--color_main);
    color: var(--color_pseudo);
    letter-spacing: var(--letter_spacing-light);
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}
.btn-submit button:hover {
    background: transparent;
    color: var(--color_main);
    border: 1px solid var(--color_main);
}
.contact .social-icon {
    display: flex;
    flex-direction: row;
    margin-top: var(--padding-medium);
}
.contact .social-icon img {
    max-width: 50px;
}

.contact .error {
    background: var(--color_main);
    padding-left: var(--padding);
    color: var(--color_danger);
    font-size: .9em;
    font-style: italic;
}

@media screen and (max-width: 960px) {
    .contact-me .form-group {
        flex-direction: column;
    }
    .contact-me {
        margin-left: var(--padding-medium);
    }
}


@media screen and (max-width: 700px) {
    .main-contact {
        flex-direction: column-reverse;
    }
    .contact-me {
        margin-left: 0;
    }
    .contact-me .form-group {
        flex-direction: column;
    }
    .contact-detail {
        margin-top: var(--padding-medium);
    }
    .contact .social-icon {
        justify-content: center;
    }
}