#sticky {
    position: sticky;
    top: 0;
    box-shadow: var(--shadow) var(--color_dark_hover);
}
.nav-bar {
    padding-left: 50px;
    padding-right: 50px;
    background: var(--color_dark);
}
.nav-bar .links {
    display: flex;
    justify-content: center;
}
.nav-bar .nav-link {
    display: inline-block;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 75px;
    color: var(--color_light);
}
.nav-bar ul {
    padding: 0;
    margin: 0;
    display: flex;
}
.nav-bar ul li {
    list-style-type: none;
}
.nav-bar .menu-mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
    color: var(--color_light);
    font-size: var(--font_L);
}
.nav-bar .menu-mobile a {
    cursor: pointer;
}
.nav-bar .btn-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .nav-link:hover {
    background: var(--color_dark_hover);
}

@keyframes showMenu {
    0% {
        left: -100%;
    }
    50% {
        left: -50%;
    }
    75% {
        left: 5%;
    }
    100% {
        left: 0;
    }
}

@media screen and (max-width: 960px) {
    .nav-bar {
        padding-left: 25px;
        padding-right: 25px;
    }
    .nav-bar .links {
        display: none;
        position: relative;
        left: -100%;
    }
    .nav-bar .menu-mobile {
        position: relative;
        display: flex;
        line-height: 75px;
    }
    .nav-bar .links:target {
        display: flex;
        flex-direction: column;
        position: relative;
        left: -100%;
        animation: 1s linear .3s showMenu forwards;
    }
}