@import url('https://fonts.googleapis.com/css?family=Prompt:400,400i,700&display=swap');

:root {
    --color_main: rgb(36, 189, 223);
    --color_dark: rgb(38, 43, 55);
    --color_light: rgba(245, 242, 242, .8);
    --color_pseudo: #E3DFDF;
    --color_dark_light: #475167;
    --color_success: #13672a;

    --color_dark_hover: rgb(52, 57, 69);
    --color_transparent: rgba(19, 141, 223, 0.6);
    --color_light_transparent: rgba(245, 242, 242, .6);
    --shadow: 0 0 3px;

    --font_family: 'Prompt';

    --font_main: 14px;
    --font_M: 18px;
    --font_L: 24px;
    --font_XL: 48px;
    --font_XXL: 64px;

    --opacity_light: 50%;
    --opacity_strong: 75%;

    --letter_spacing: .25rem;
    --letter_spacing-light: calc(.25rem / 2);
    --radius: 3px;
    --radius-hard: 50%;

    --padding: 15px;
    --padding-light: 25px;
    --padding-medium: 55px;
    --padding-XL: 80px;
}