.about {
    padding: var(--padding-XL);
    display: flex;
    justify-content: center;
    background: var(--color_main);
}
.about figure {
    margin: 0;
    width: 350px;
    height: 350px;
}
.about figure img {
    border-radius: 0 0 var(--radius-hard) var(--radius-hard);
}
.about .picture-profile, .about .details-profile {
    padding: var(--padding-light);
}
.about .picture-profile {
    text-align: center;
}
.about .details-profile {
    text-align: center;
}
.about .main-details {
    max-width: 800px;
    border: 1px solid var(--color_light);
    border-radius: var(--radius);
    min-height: 350px;
}
.social-icon {
    margin-top: 25px;
}
.social-icon .fas, .social-icon .fab {
    font-size: 3em;
}
.social-icon a {
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    background: var(--color_light);
    border-radius: var(--radius-hard);
    border: 1px solid var(--color_dark);
    padding: 12px;
}
.about .title-about {
    color: var(--color_light);
    text-transform: uppercase;
    font-size: var(--font_XL);
}

@media screen and (max-width: 960px) {
    .about {
        flex-direction: column;
        align-items: center;
    }
    .about .picture-profile, .about .details-profile {
        padding-left: 0;
        padding-right: 0;
    }
    .about figure {
        max-width: 250px;
        height: auto;
    }
    .social-icon .fas, .social-icon .fab {
        font-size: 1.5em;
    }
    .social-icon a {
        padding: 8px 8px 5px;
    }
}